# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Style files
/src/styles/index.css

.env

# Ignore specific Cabin files
src/features/cabins/CabinTable-v1.jsx
src/features/cabins/CreateCabinForm-v1.jsx
src/features/cabins/AddCabin-v1.jsx
src/features/cabins/AddCabin-v2.jsx
src/features/cabins/CabinRow-v1.jsx

# Ignore specific Auth files
src/features/authentication/LoginForm-v1.jsx

# Ignore specific UI files
src/ui/Modal-v1.jsx